# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

# Files from Forge MDK
/forge/run/
/forge/runs/
/forge-legacy-1122/run/
/forge-legacy-1122/runs/
/fabric/run/
