name: Java CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 17
    - name: Build with Gradle
      run: ./gradlew :jar
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        # Artifact name
        name: imblocker
        # Directory containing files to upload
        path: build\libs\*.jar
